/* styles.css */
.speedometer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .highlight-low-stock {
    background-color: rgba(255, 0, 0, 0.3); /* Highlight for low stock */
  }
  